{% extends "todo/base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/bootstrap_dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href= {% static "css/style.css" %}/>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <link
            href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
            rel="stylesheet"
    />
{% endblock %}
{% block content %}
    <div style="min-width: 1200px">
        <div class="calendar">
            <div class="month">
                <i class="prev"><</i>
                <div class="date">
                    <h1 id="chose-date"></h1>
                    <p></p>
                </div>
                <i class="next">></i>
            </div>
            <div class="weekdays">
                <div>Sun</div>
                <div>Mon</div>
                <div>Tue</div>
                <div>Wed</div>
                <div>Thu</div>
                <div>Fri</div>
                <div>Sat</div>
            </div>
            <div class="days"></div>
            <script src={% static "js/calendar.js" %}></script>
        </div>
        <div class="issue">
            <div class="day-mission" id="mission">Missions of the day</div>
            <div class="matters" id="matters">
            </div>
        </div>
    </div>
{% endblock %}