{% extends "todo/base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/bootstrap_dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href={% static 'plugins/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.css' %}>
{% endblock %}
{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            {% if todos %}
                <h1>{{ todos.count }} Current Todo{{ todos.count|pluralize }}</h1>
                <br>
                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endif %}
                <form method="get">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <input id="start" name="start" class="form-control" type="time" required
                                   placeholder="start">
                        </div>
                        -----
                        <div class="form-group col-md-4">
                            <input id="end" name="end" class="form-control" type="time" required placeholder="end">
                        </div>

                        <div class="form-group col-md-1">&nbsp</div>
                        <div class="form-group col-md-1">
                            <button type="submit" class="btn btn-primary">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </form>
            {% else %}
                <h1>Current Todos</h1>
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            {% if todos %}
                <div class="list-group">
                    {% for todo in todos %}
                        <div class="list-group-item list-group-item-action{% if todo.important %} list-group-item-danger{% endif %}">
                            <a class="col-lg-10">
                                <b>{{ todo.title }}</b>
                                {% if todo.memo %} - {{ todo.memo|truncatechars:30 }}{% endif %}
                            </a>
                            <a href="#" class="col-lg-1">
                            <span class="glyphicon glyphicon-tag" aria-hidden="true"
                                  onclick="$('#complete').click()"></span>
                                <form style='display: none;' method="POST" action="{% url 'completetodo' todo.id %}">
                                    {% csrf_token %}
                                    <button id="complete" type="submit">Complete</button>
                                </form>
                            </a>
                            <a href="#">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"
                                  onclick="$('#delete').click()"></span>
                                <form style='display: none;' method="POST" action="{% url 'deletetodo' todo.id %}">
                                    {% csrf_token %}
                                    <button id="delete" type="submit">Delete</button>
                                </form>
                            </a>

                        </div>
                    {% endfor %}
                    <div style="margin-top: 20px">
                        <a href="{% url 'createtodo' %}">
                            <button type="submit" class="btn btn-primary">新增任务</button>
                        </a>
                    </div>

                </div>
            {% else %}
                <div class="text-center">
                    <h2>Looks like you don't have any todos! Nice work.</h2>
                    <br>
                    <a role="button" class="btn btn-primary" href="{% url 'createtodo' %}">New Todo</a>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
{% block js %}
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap_dist/js/bootstrap.min.js' %}"></script>
    <script src={% static 'plugins/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js' %}></script>
    <script
            src={% static 'plugins/bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-CN.js' %}></script>
    {#    <script>#}
    {#        $('#start').datetimepicker({#}
    {#            format: 'yyyy-mm-dd hh:ii:ss',#}
    {#            startDate: '0',#}
    {#            language: "zh-CN",#}
    {#            autoclose: true,#}
    {#            minView: 0,#}
    {#            minuteStep: 1,#}
    {#        });#}
    {#        $('#end').datetimepicker({#}
    {#            format: 'yyyy-mm-dd hh:ii:ss',#}
    {#            startDate: '0',#}
    {#            language: "zh-CN",#}
    {#            autoclose: true,#}
    {#            minView: 0,#}
    {#            minuteStep: 1,#}
    {#        });#}
    {#    </script>#}
{% endblock %}