{% extends "todo/base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/bootstrap_dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href={% static 'plugins/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.css' %}>
    <link rel="stylesheet" href="{% static 'css/symbol.css' %}">
{% endblock %}
{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            {% if todos %}
                <h1>{{ todos.count }} Unstart Todo{{ todos.count|pluralize }}</h1>
                <br>
                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endif %}
                <form method="get">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <input id="start" name="start" class="form-control" type="text" required
                                   placeholder="start">
                        </div>
                        -----
                        <div class="form-group col-md-4">
                            <input id="end" name="end" class="form-control" type="text" required placeholder="end">
                        </div>

                        <div class="form-group col-md-1">&nbsp</div>
                        <div class="form-group col-md-1">
                            <button type="submit" class="btn btn-primary">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </form>
            {% else %}
                <h1>Unstart Todos</h1>
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            {% if todos %}
                <div class="list-group">
                    {% for todo in todos %}
                        <div class="list-group-item list-group-item-action{% if todo.important %} list-group-item-danger{% endif %} iconfont">
                            <a class="col-lg-10">
                                <b>{{ todo.title }}</b>
                                {% if todo.memo %} - {{ todo.memo|truncatechars:30 }}{% endif %}&nbsp;&nbsp;&nbsp;
                                {% if todo.tag == 0 %}
                                    &#xe807;
                                {% elif todo.tag == 1 %}
                                    &#xe6b8;
                                {% elif todo.tag == 2 %}
                                    &#xe800;
                                {% elif todo.tag == 3 %}
                                    &#xe687;
                                {% elif todo.tag == 4 %}
                                    &#xe64f;
                                {% elif todo.tag == 5 %}
                                    &#xe67b;
                                {% elif todo.tag == 6 %}
                                    &#xe6fe;
                                {% endif %}
                            </a>
                            <a href="{% url 'viewtodo' todo.id %}" class="col-lg-1">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </a>
                            <a href="#">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"
                                  onclick="$('#delete').click()"></span>
                                <form style='display: none;' method="POST" action="{% url 'deletetodo' todo.id %}">
                                    {% csrf_token %}
                                    <button id="delete" type="submit">Delete</button>
                                </form>
                            </a>

                        </div>
                    {% endfor %}
                    <div style="margin-top: 20px">
                        <a href="{% url 'createtodo' %}">
                            <button type="submit" class="btn btn-primary">新增任务</button>
                        </a>
                    </div>

                </div>
            {% else %}
                <div class="text-center">
                    <h2>Looks like you don't have any todos! Nice work.</h2>
                    <br>
                    <a role="button" class="btn btn-primary" href="{% url 'createtodo' %}">New Todo</a>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
{% block js %}
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap_dist/js/bootstrap.min.js' %}"></script>
    <script src={% static 'plugins/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js' %}></script>
    <script
            src={% static 'plugins/bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-CN.js' %}></script>
    <script>
        var date = new Date();//创建JS自带的Date日期对象

        var year = date.getFullYear();//获取年

        var month = date.getMonth() + 1;//获取月，注意其范围是0~30，使用时需要加1
        month = month < 10 ? "0" + month : month;//三则运算符判断是个位数则前面加一个零，好看

        var day = date.getDate();//获取日
        day = day < 10 ? "0" + day : day;

        var hour = date.getHours();//获取小时
        hour = hour < 10 ? "0" + hour : hour;

        var minute = date.getMinutes();//获取分钟
        minute = minute < 10 ? "0" + minute : minute;


        var current = year + "-" + month + "-" + day + " " + hour + ":" + minute;
        $('#start').datetimepicker({
            format: 'yyyy-mm-dd hh:ii:ss',
            startDate: current,
            language: "zh-CN",
            autoclose: true,
            minView: 0,
            minuteStep: 1,
        });
        $('#end').datetimepicker({
            format: 'yyyy-mm-dd hh:ii:ss',
            startDate: current,
            language: "zh-CN",
            autoclose: true,
            minView: 0,
            minuteStep: 1,
        });
    </script>
{% endblock %}