.calendar {
    width: 40rem;
    height: 46rem;
    background-color: #ffffff;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
    margin-top: 5rem;
    float: left;
}

.month {
    width: 100%;
    height: 8rem;
    background-color: #a6efff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
}

.month i {
    font-size: 3rem;
    cursor: pointer;
}

.month h1 {
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-top: 2rem;
    line-height: 80%;
}

.month p {
    font-size: 2rem;
}

.weekdays {
    width: 100%;
    height: 6rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
}

.weekdays div {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(40rem / 7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
}

.days div {
    font-size: 1.4rem;
    width: calc(28em / 7);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
}

.days div:hover:not(.today) {
    background-color: #a7ea93;
    border: 0.2rem solid #b8e0b6;
    cursor: pointer;
}

.prev-date,
.next-date {
    opacity: 0.5;
}

.today {
    border: 0.2rem solid #9fd0f8;
    background-color: #d7f8ff;
    cursor: pointer;
}

.issue {
    float: left;
    margin-top: 2rem;
    margin-left: 15rem;
    background: #ffffff;
    height: 50rem;
    width: 50rem;
}

.day-mission {
    font-family: Arial, serif;
    font-size: 4rem;
    font-weight: 900;
    color: #0f0f0f;
}

.matters {
    height: 45rem;
    background-color: #ffffff;
    border-style: groove;
    border-color: #0f0f0f;
    overflow: auto;
}

.issue-column {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    height: 10rem;
    width: 90%;
    border-radius: 1rem;
    border: 1px solid transparent;
    background: linear-gradient(white, white) padding-box, repeating-linear-gradient(-45deg, black 0, black 25%, white 0, white 50%) 0/.6em .6em;
    animation: ants 12s linear infinite;
}

.issue-title {
    height: 40%;
    text-align: center;
    line-height: 5rem;
    font-family: Arial, serif;
    font-size: large;
    font-weight: normal;
}

.issue-tag {
    width: 8rem;
    font-family: Arial, serif;
    margin-left: 3rem;
    display: inline-block;
}

.issue-start {
    width: 13rem;
    font-family: Arial, serif;
    margin-left: 1rem;
    display: inline-block;
}

.issue-duration {
    width: 13rem;
    font-family: Arial, serif;
    margin-left: 1rem;
    display: inline-block;
}

.issue-status {
    width: 25%;
    font-family: Arial, serif;
    margin-left: 3rem;
    display: inline-block;
}

.issue-importance {
    width: 40%;
    font-family: Arial, serif;
    margin-left: 1rem;
    display: inline-block;
}

.issue-daily {
    width: 20%;
    font-family: Arial, serif;
    margin-left: 1rem;
    display: inline-block;
}

.issue-nothing {
    font-family: Arial, serif;
    font-size: xx-large;
    margin-left: 2.5rem;
    margin-top: 2rem;
    display: inline-block;
}

.issue-failed {
    width: 40%;
    font-family: Arial, serif;
    margin-left: 4rem;
    display: inline-block;
}

